<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BENCHMARK</title>
</head>
<body>
  <!--
  <% for (var i = 0; i < items.length; i++)  {%>
  <li class="cart">
    <span><%= key %></span>
    <span><%= value %></span>
    <form action = "/items/remove" method="POST">
      <button type="remove">Remove</button>
    </form>
  </li> 
  -->
</body>
</html>

